[tool.black]
line-length = 100
target-version = ["py313"]
exclude = "(venv|\\.venv)"


[tool.mypy]
python_version = "3.13"
warn_unused_configs = true
disallow_untyped_defs = true
no_implicit_optional = true
ignore_missing_imports = true
